PRIVATE_KEY=""
TAKER_PRIVATE_KEY=""
SEPOLIA_RPC_URL=""
ARBITRUM_MAINNET_RPC_URL=""
ETHERSCAN_API_KEY=""
DIAMOND_ADDRESS="0xAAeA1bb537c30B54f86F22D468fD2a3e3EB4c9A6"
MARKET_MAKER_ADDRESS="0xa9747c7F018D2887EA2c58843C9519133CAcf37E"
TAKER_ADDRESS="0x4470EDc4F3c934d6d5627bc548B4557459E19705"
MOCK_TOKEN_ADDRESS="0x8dA915EBa296fFD4D84feB4a3acd06ad6728879F"
CONDITION_ID=""
QUESTION_ID=""
POSITION_ID_0=""
POSITION_ID_1=""

BASE_SEPOLIA_RPC_ENDPOINT=""
NETWORK_WSS_ENDPOINT=""
